@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --yellow: #f4d04e;
  --gray-500: #6b6b6b;
  --gray-950: #121212;

  /* Fonts */
  --font-figtree: "Figtree", sans-serif;
  --font-line-height: 1.5;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --extra-large-font-size: 1.5rem;
  --large-font-size: 1.25rem;
  --regular-font-size: 1rem;
  --small-font-size: 0.875rem;
  --extra-small-font-size: 0.750rem;

  /* Paddings */
  --main-padding: 2rem 0;
  --card-padding: 1.5rem;

  /* Radius */
  --card-radius: 1.25rem;
  --card-image-radius: 0.625rem;

  /* Card border and shadows */
  --card-border: 1px solid var(--gray-950);
  --card-shadow: 8px 8px 0 var(--black);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--yellow);
  font-family: var(--font-figtree);
  line-height: var(--font-line-height);
  color: var(--gray-950);
}

main {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--main-padding);
}

.card {
  width: 327px;
  height: auto;
  background-color: var(--white);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: var(--card-border);
  box-shadow: var(--card-shadow)
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: var(--card-image-radius);
}

.card__content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
  gap: 0.750rem;
}

.card__tag {
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--yellow);
  font-weight: var(--font-weight-bold);

}

.card__tag,
.card__date {
  font-size: clamp(var(--extra-small-font-size), 2vw, var(--small-font-size));
}

.card__link-title {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-950);
}

.card__link-title:hover,
.card__link-title:active {
  color: var(--yellow);
}

.card__title {
  font-size: clamp(var(--large-font-size), 3vw, var(--extra-large-font-size));
  font-weight: var(--font-weight-bold);
}

.card__text {
  font-size: clamp(var(--small-font-size), 2vw, var(--regular-font-size));
  color: var(--gray-500);
}

.card__avatar-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__avatar-image {
  width: 32px;
  height: 32px;
}

.card__avatar-name {
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-bold);
}

/* Media queries */
@media (min-width:600px) {
  .card {
    width: 384px;
  }
}